<ion-view title="Barcode Scanner" hide-nav-bar="true" id="page18">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <svg width="100%" viewBox="0 0 360 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="app-screens" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="camera">
          <g id="Group">
            <rect id="Rectangle-2" fill="#3057A7" x="0" y="0" width="360" height="50"></rect>
            <text id="Scan-the-object-barc" font-family="Avenir-Heavy, Avenir" font-size="18" font-weight="600" fill="#FFFFFF">
              <tspan x="74.999" y="31">Scan the object barcode</tspan>
            </text>
          </g>
        </g>
      </g>
    </svg>
    <div>
      <a style="display:block;" ui-sref="positiveFeedback()">
        <img src="img/XZnAbUB0TMEO2bm8gRzi_qrcode.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="negativeFeedback()">
        <img src="img/QHDxEgm1Q2GbPGGKF4pQ_Group6.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>