<ion-view title="Bingo Game" id="page15">
  <ion-content padding="true" class="has-header">
    <h3 id="bingoGame2-heading9" style="color:#000000;">Timer: 0:00:00</h3>
    <h3 id="bingoGame2-heading10" style="color:#000000;">Points: 0</h3>
    <ion-list id="bingoGame2-list4">
      <ion-item class="item-thumbnail-left" id="bingoGame2-list-item7">
        <h2>Item</h2>
        <ion-option-button class="button-positive">zxczxv</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>