<ion-view title="Bingo Game" hide-nav-bar="true" id="page14">
  <ion-content padding="true" style="background: url(img/rua0td0tS8Goryy0mFmd_6762609847_e084cc0413_b.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <h4 id="bingoGame-heading8" style="color:#FFFFFF;font-weight:600;text-align:center;">How to play Bingo</h4>
    <svg width="100%" height="380px" viewBox="0 0 337 403" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs>
        <rect id="path-1" x="0" y="0" width="295" height="400" rx="10"></rect>
        <filter x="-14.4%" y="-5.2%" width="128.8%" height="121.0%" filterUnits="objectBoundingBox" id="filter-2">
          <feOffset dx="0" dy="22" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
          <feGaussianBlur stdDeviation="10.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
          <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.37072577 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
        </filter>
      </defs>
      <g id="app-screens" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="bingo-game-intro" transform="translate(-11.000000, -96.000000)">
          <g id="Box" transform="translate(32.000000, 86.000000)">
            <g id="Rectangle">
              <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
              <use fill="#3057A7" fill-rule="evenodd" xlink:href="#path-1"></use>
            </g>
            <text id="On-the-next-screen-w" font-family="Avenir-Medium, Avenir" font-size="15" font-weight="400" fill="#FFFFFF">
              <tspan x="55" y="42">On the next screen will appear </tspan>
              <tspan x="55" y="62">object images you need to find </tspan>
              <tspan x="55" y="82">on museum exhibition.</tspan>
              <tspan x="55" y="102"></tspan>
              <tspan x="55" y="122">Tap on the object image if you </tspan>
              <tspan x="55" y="142">found it.</tspan>
              <tspan x="55" y="162"></tspan>
              <tspan x="55" y="182">Your mobile phone camera will </tspan>
              <tspan x="55" y="202">be activated. Scan a QRcode on </tspan>
              <tspan x="55" y="222">the stand of object you found.</tspan>
              <tspan x="55" y="242"></tspan>
              <tspan x="55" y="262">If object is correct - you will get </tspan>
              <tspan x="55" y="282">points.</tspan>
              <tspan x="55" y="302"></tspan>
              <tspan x="55" y="322">Share your result and at </tspan>
              <tspan x="55" y="342">museum exit you will recieve </tspan>
              <tspan x="55" y="362">deserved award.</tspan>
            </text>
            <g id="Group" transform="translate(21.000000, 29.000000)">
              <circle id="Oval" fill="#FFFFFF" cx="12" cy="12" r="12"></circle>
              <text id="1" font-family="Avenir-Heavy, Avenir" font-size="14" font-weight="600" fill="#3057A7">
                <tspan x="8" y="17">1</tspan>
              </text>
            </g>
            <g id="Group" transform="translate(21.000000, 105.000000)">
              <circle id="Oval" fill="#FFFFFF" cx="12" cy="12" r="12"></circle>
              <text id="2" font-family="Avenir-Heavy, Avenir" font-size="14" font-weight="600" fill="#3057A7">
                <tspan x="8" y="17">2</tspan>
              </text>
            </g>
            <g id="Group" transform="translate(21.000000, 164.000000)">
              <circle id="Oval" fill="#FFFFFF" cx="12" cy="12" r="12"></circle>
              <text id="3" font-family="Avenir-Heavy, Avenir" font-size="14" font-weight="600" fill="#3057A7">
                <tspan x="8" y="17">3</tspan>
              </text>
            </g>
            <g id="Group" transform="translate(21.000000, 237.000000)">
              <circle id="Oval" fill="#FFFFFF" cx="12" cy="12" r="12"></circle>
              <text id="4" font-family="Avenir-Heavy, Avenir" font-size="14" font-weight="600" fill="#3057A7">
                <tspan x="8" y="17">4</tspan>
              </text>
            </g>
            <g id="Group" transform="translate(21.000000, 294.000000)">
              <circle id="Oval" fill="#FFFFFF" cx="12" cy="12" r="12"></circle>
              <text id="5" font-family="Avenir-Heavy, Avenir" font-size="14" font-weight="600" fill="#3057A7">
                <tspan x="8" y="17">5</tspan>
              </text>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <a ui-sref="bingoGame2" id="bingoGame-button17" style="border-radius:50px 50px 50px 50px;" class="button button-light  button-block icon-right ion-ios-arrow-right">Start</a>
  </ion-content>
</ion-view>