<ion-view title="Bingo Game" id="page14">
  <ion-content padding="true" class="has-header">
    <h2 id="bingoGame-heading8" style="color:#000000;text-align:center;">How To Play?</h2>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div id="bingoGame-markdown8" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#000000;">On the next screen will appear object images you need to find on museum exhibition.</p>
        </li>
        <li>
          <p style="color:#000000;">Tap on the object image if you found it.</p>
        </li>
        <li>
          <p style="color:#000000;">Your mobile phone camera will be activated. Scan a QRcode on the stand of object you found.</p>
        </li>
        <li>
          <p style="color:#000000;">If object is correct - you will get points.</p>
        </li>
        <li>Points and time at museum exit will define what award you earned.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <button id="bingoGame-button17" class="button button-balanced  button-block">START</button>
  </ion-content>
</ion-view>