<ion-view title="Choose activity" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <h3 id="chooseActivity-heading3" style="color:#000000;text-align:center;">What you want to do?</h3>
    <div id="chooseActivity-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Choose what activity you would like to perform in The Museum of Science</p>
    </div>
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <a ui-sref="bingoGame" id="chooseActivity-button14" class="button button-positive  button-block">Play Bingo </a>
    <button id="chooseActivity-button15" class="button button-positive  button-block">Plan Route</button>
    <a ui-sref="selectMuseum" id="chooseActivity-button16" style="color:#1790E4;" class="button button-light  button-block">I want to change museum</a>
  </ion-content>
</ion-view>