<ion-view title="End" hide-nav-bar="true" id="page22">
  <ion-content padding="true" style="background: url(img/rua0td0tS8Goryy0mFmd_6762609847_e084cc0413_b.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div>
      <img src="img/x9Kdwrw5SCOdoKDLNvU5_museum-bingo.svg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="end-heading13" style="color:#FFFFFF;font-weight:600;text-align:center;">Irina, good game!</h3>
    <div id="end-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Your result is:</p>
    </div>
    <div>
      <img src="img/lpsdjLG9QBGgZDc83tcU_Group.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="end-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#FFFFFF;">
        <em>Share result to recieve a prize at the museum exit:</em>
      </p>
    </div>
    <div id="end-button-bar6" class="button-bar">
      <button id="end-button25" class="button button-positive button-block icon ion-social-facebook"></button>
      <button id="end-button29" class="button button-calm button-block icon ion-social-twitter"></button>
      <button id="end-button30" class="button button-assertive button-block icon ion-social-google"></button>
    </div>
  </ion-content>
</ion-view>