<ion-view title="In what museum you are?" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div>
      <img src="img/Db57NhcQdmPMPx6tOKrX_noun_878782_cc.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <h3 id="inWhatMuseumYouAre-heading4" style="color:#000000;text-align:center;">You are in The Museum of Science?</h3>
    <div id="inWhatMuseumYouAre-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Avenue 23, Paris, France</p>
    </div>
    <div id="inWhatMuseumYouAre-button-bar2" class="button-bar">
      <a ui-sref="selectMuseum" id="inWhatMuseumYouAre-button22" class="button button-positive  button-block button-outline">No</a>
      <a ui-sref="chooseActivity" id="inWhatMuseumYouAre-button23" class="button button-positive  button-block">Yes</a>
    </div>
  </ion-content>
</ion-view>