<ion-view title="Login" hide-nav-bar="true" id="page17">
  <ion-content padding="true" style="background: url(img/RkjsWN8PQm6HvNNn1wwQ_6762609847_e084cc0413_b.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 40px;"></div>
    <div>
      <img src="img/4rAbCZGzSrOspYn6LGf6_museum-bingo.svg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form5" class="list">
      <div class="spacer" style="height: 40px;"></div>
      <ion-list id="login-list5">
        <label class="item item-input" id="login-input9">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input10">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="inWhatMuseumYouAre()" id="login-button19" class="button button-stable button-block">Log in</a>
      <a href-inappbrowser="/signup" id="login-button20" class="button button-light button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>