<ion-view title="Search museum " id="page11">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div>
      <img src="img/Db57NhcQdmPMPx6tOKrX_noun_878782_cc.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <h3 id="searchMuseum-heading5" style="color:#000000;text-align:center;">The Museum of Science</h3>
    <div id="searchMuseum-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Avenue 23, Paris, France</p>
    </div>
    <div id="searchMuseum-button-bar3" class="button-bar">
      <a ui-sref="chooseActivity" id="searchMuseum-button26" class="button button-positive  button-block">Explore</a>
    </div>
  </ion-content>
</ion-view>