<ion-view title="Select museum" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="selectMuseum-list3">
      <ion-item id="selectMuseum-list-item4" ui-sref="searchMuseum">The Museum of Science
        <span class="item-note">Avenue 23, Paris, France</span>
      </ion-item>
      <ion-item id="selectMuseum-list-item5" ui-sref="searchMuseum2">The Museum of Nature
        <span class="item-note">Street 32, London, UK</span>
      </ion-item>
      <ion-item id="selectMuseum-list-item6" ui-sref="searchMuseum3">The museum of History
        <span class="item-note">Avenue 352, Berlin, Germany</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>