<ion-view title="Signup 2" hide-nav-bar="true">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form class="list">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Name 2</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Username testing</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="inWhatMuseumYouAre" class="button button-positive  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>