<ion-view title="Signup" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="signup-form3" class="list">
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="inWhatMuseumYouAre" id="signup-button9" class="button button-positive  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>