<ion-view title="Welcome to the Museum App" hide-nav-bar="true" id="page7">
  <ion-content padding="true" style="background: url(img/rua0td0tS8Goryy0mFmd_6762609847_e084cc0413_b.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 51px;"></div>
    <div>
      <img src="img/x9Kdwrw5SCOdoKDLNvU5_museum-bingo.svg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 54px;"></div>
    <div id="welcomeToTheMuseumApp-button-bar10" class="button-bar">
      <a ui-sref="inWhatMuseumYouAre" id="welcomeToTheMuseumApp-button41" style="border-radius:50px 0px 0px 50px;" class="button button-positive  button-block icon-left ion-social-facebook">Facebook</a>
      <a ui-sref="inWhatMuseumYouAre" id="welcomeToTheMuseumApp-button43" style="border-radius:0px 50px 50px 0px;" class="button button-assertive  button-block icon-left ion-social-google">Google</a>
    </div>
    <a ui-sref="login2" id="welcomeToTheMuseumApp-button12" style="color:#FFFFFF;border-radius:80px 80px 80px 80px;" class="button button-light  button-block button-outline icon-left ion-ios-email-outline">Login with Email</a>
    <div class="spacer" style="width: 300px; height: 65px;"></div>
    <a ui-sref="signup" id="welcomeToTheMuseumApp-button13" style="color:#FFFFFF;" class="button button-light  button-block button-clear">Register</a>
  </ion-content>
</ion-view>