<ion-view title="Welcome to the Museum App" id="page7">
  <ion-content padding="true" class="has-header">
    <h1 id="welcomeToTheMuseumApp-heading2" style="color:#000000;text-align:center;">Log In</h1>
    <a ui-sref="inWhatMuseumYouAre" id="welcomeToTheMuseumApp-button10" class="button button-positive  button-block"> Login with Facebook</a>
    <a ui-sref="inWhatMuseumYouAre" id="welcomeToTheMuseumApp-button11" class="button button-assertive  button-block"> Login with Google</a>
    <a ui-sref="login" id="welcomeToTheMuseumApp-button12" class="button button-dark  button-block">Login with Email</a>
    <a ui-sref="signup" id="welcomeToTheMuseumApp-button13" class="button button-light  button-block">Register</a>
  </ion-content>
</ion-view>